.wrapper {
  border-right: 1px solid #e6e9ee;
  width: 15rem;
  height: 100vh;
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.logo {
  height: 100px;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuSection {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
}

.menuSectionActive {
  background-color: #e6e9ee;
  font-weight: 600;
  border-radius: 5px;
}

.menuSubSection {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  margin-left: 20px;
}

.menuSubSectionActive {
  background-color: #e6e9ee;
  font-weight: 600;
  border-radius: 5px;
}
