.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-right: 1px solid #e6e9ee;
  width: 100%;
  max-width: 66px;
  height: 100vh;
  padding: 5px;
  border-radius: 10px;
  background: white;
}

.wrapperOpen {
  max-width: 200px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1670dc;
  color: white;
  border-radius: 10px;
  height: 50px;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuSection {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
}

.menuSectionActive {
  background-color: #e6e9ee;
  font-weight: 600;
  border-radius: 5px;
}

.menuSubSection {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  margin-left: 20px;
}

.menuSubSectionActive {
  background-color: #e6e9ee;
  font-weight: 600;
  border-radius: 5px;
}
